body
{
background-image:url("http://php-bdj.rhcloud.com/images/shattered.png");
background-color:black;
background-repeat:repeat;
background-attachment:fixed;
}

#Basics
{
width:25%;
margin-left:260px;
}

#leftColumn
{
height:5%;
float:left;
width:250px;
border-right-style:groove;
border-right-width:5px;
}

#pictures
{
float:left;
width:250px;
margin-left:30px;
margin-top:50px;
}
