#results
{
	background-color:#BDBDBD;
	opacity:0.6;
	filter:alpha(opacity=60);
	margin-left:200px;
	margin-top:200px;
	height:400px;
	width:780px;
}

.blue
{
	background-image:url("/images/blueBar.png");

}

.red
{
	background-image:url("/images/redBar.jpg");
}

.green
{
	background-image:url("/images/GreenBar.jpg");
}