#results
{
	background:rgba(100, 100, 100, .6);
	margin-left:200px;
	margin-top:200px;
	height:600px;
	width:780px;
}

.blue
{
	background-image:url("/images/blueBar.png");

}

.red
{
	background-image:url("/images/redBar.jpg");
}

.green
{
	background-image:url("/images/GreenBar.jpg");
}