#results
{
	margin-left:200px;
	margin-top:200px;
	height:75%;
	min-height:640px;
	min-width:640px;
	width:50%;
}

.blue
{
	width:15px;
	background-color:blue;
}

.red
{
	background-color:red;
	width:15px;
}

.green
{
	background-color:green;
	width:15px;
}