#main
{
	width:750px;
	margin-top:100px;
	margin-left:200px;
}

.item
{
margin-bottom:10px;
float:left;
height: 600px;
width:750px;
background-color:#606060;
}


.itemHeader
{
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
font-size:30px;
margin-top:10px;
text-align:center;
border-bottom:2px solid #909090;
}

.itemImage
{
float:left;
margin-top:10px;
margin-left:10px;
width:500px;
}

.itemPrice
{
margin-top:10px;
margin-left:500px;

}

.itemDescription
{
width:750px;
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

}