body
{
height:100%;
background-image:url("http://php-bdj.rhcloud.com/images/shattered.png");
background-color:black;
background-repeat:repeat;
background-attachment:fixed;
}





/* Navigation side Bar */
.navigation
{
position:fixed;
top:0;
left:0;
height:100%;
min-height:640px;
width:100px;
background-color:#606060;
font-family: Papyrus, fantasy;
}

nav ul
{
list-style:none;
padding-left:0;
text-align:center;
}

nav ul li
{
line-height:60px;
border-bottom:2px solid #909090;
}

nav ul li a
{
text-decoration:none;
color:#909090;
display:block;
}

nav ul li a:hover
{
text-decoration:underline;
}

nav ul li a:visited
{
text-decoration:none;
color:#FFB266;
}

.homelogo
{
background-image:url("http://php-bdj.rhcloud.com/images/home-scaled.png");
height: 60px;
background-repeat: no-repeat;
border-top:2px solid #909090;
border-bottom:2px solid #909090;
background-position:center;
}

.homelogo:hover
{
background-image:url("http://php-bdj.rhcloud.com/images/home-onhover.png");
}