.item
{
margin-bottom:10px;
float:left;
width:100%;
background-color:#909090;
}


.itemHeader
{
font-family: â€˜Palatino Linotypeâ€™, â€˜Book Antiquaâ€™, Palatino, serif;
font-size:30px;
margin-top:10px;
text-align:center;
border-bottom:2px solid #505050;
}

.itemImage
{
float:left;
margin-top:10px;
margin-left:10px;
width:500px;
}

.itemPrice
{
margin-top:10px;
margin-left:520px;
width:150px;
background-color:#FFFFFF;

}

.itemDescription
{
width:750px;
float:left;
font-family: â€˜Palatino Linotypeâ€™, â€˜Book Antiquaâ€™, Palatino, serif;
}

#reviewContainer
{
	
}
.reviews
{
border-left:2px solid #FFFFFF;
float:left;
margin-left:760px;
}