.item
{
float:left;
width:100%;
background-color:#909090;
height:100%;
}


.itemHeader
{

font-size:30px;
margin-top:10px;
text-align:center;
border-bottom:2px solid #505050;
}

.itemImage
{
padding-top:10px;
padding-left:10px;
}

.itemPrice
{
padding-top:10px;
background-color:#FFFFFF;
}

.itemDescription
{
float:left;

}

#left
{
min-width:550px;
width:40%;
float:left;
}

#reviewContainer
{
float:left;
height:100%;
border-left:2px solid #FFFFFF;
}

.reviews
{
padding-left:10px;
}

.reviewUser
{
text-decoration:underline;
}

.reviewContent
{
padding-left:10px;
}