.Input
{
float:left;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-size:20px;
}

.Label
{
float:left;
width:150px;
color:#FFFFFF;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-size:20px;
}

.Register
{
text-decoration:none;
float:left;
width:150px;
color:#FFFFFF;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-size:15px;
}

.Register:hover
{
text-decoration:underline;
}

.message
{
color:#FFFFFF;
float:right;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.error
{
color:#FF0000;
text-decoration:bold;
}