.itemContainer
{
	background-color:#FFFF00;
}

.item
{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
	background-color:#FF00FF;
	width:33%;
	float:left;
}