body
{
background-size:100%;
background-image:url("/CustomCar/Images/background.jpg");
background-color:black;
background-repeat:no-repeat;
background-attachment:fixed;
}

#mainBody
{
min-height:70%;
width:80%;
margin-top:20%;
margin-bottom:10%;
background-color:#FFFFFF;
margin-left:10%;
margin-right:10%;
}

#header
{
margin-top:10%;
background-color:#00FF00;
background-image:url("/CustomCar/Images/CustomCarHeader.png");
min-height:130px;
}

#navigationBar
{
margin-top:20%;
background-color:#FF0000;
}

#footer
{
margin-top:90%;
background-color:#AAAAAA;
}