body
{
background-size:100%;
background-image:url("/CustomCar/Images/background.jpg");
background-color:black;
background-repeat:no-repeat;
background-attachment:fixed;
}

#mainBody
{
min-height:70%;
width:80%;
background-color:#FFFFFF;
margin-left:10%;
margin-right:10%;
}

#header
{
background-color:#00FF00;
background-image:url("/CustomCar/Images/CustomCarHeader.png");
background-repeat:no-repeat;
background-position:left;
min-height:130px;
height:20px;
}

#navigationBar
{
background-color:#FF0000;
}

#footer
{
background-color:#AAAAAA;
}