body
{
width:100%;
height:100%;
background-size:100%;
background-image:url("/CustomCar/Images/background.jpg");
background-color:black;
background-repeat:no-repeat;
background-attachment:fixed;
}

#mainBody
{
height:70%;
width:80%;
margin-bottom:10%;
background-color:#FFFFFF;
margin-left:10%;
margin-right:10%;
}

#header
{


}


#footer
{

	
}